body {
    background-color: #f0f0f0;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px; /* 调整计算器的宽度以适应显示 */
    padding: 10px; /* 添加内边距 */
}

.display {
    background-color: #eeeeee;
    color: #000;
    font-size: 24px;
    padding: 20px;
    border: none;
    text-align: right;
    height: 50px; /* 设置一个固定的高度 */
    box-sizing: border-box; /* 确保内边距和边框不增加额外的宽度和高度 */
    width: 100%; /* 使显示区域占满整个计算器的宽度 */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.btn {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in-out;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box; /* 确保内边距和边框不增加额外的宽度和高度 */
    height: 60px; /* 设置按钮的高度 */
    width: 60px; /* 设置按钮的宽度 */
}

.btn:active {
    background-color: #e0e0e0;
}